/_traductor/nbproject/private/
/javabrain-traductor/nbproject/private/
/javabrain-traductor/build/
/javabrain-traductor/dist/
/javabrain-doc/build/
/javabrain-doc/dist/
javabrain-proyect/.idea/workspace.xml
javabrain-proyect/out/artifacts/java_brain_jar/java-brain.jar
*.class
